
$background_color: #171717;
$foreground_color: rgba(255, 255, 255, 0.7);

@mixin icon_wrapper_mixin($theme: 'dark'){

    @if ($theme == 'light'){
        background-color: rgba(255, 255, 255, 0.8);
    }

    @if ($theme == 'dark'){
        background-color: rgba(255, 255, 255, 0.2);
    }

    display: inline-block;
    padding: 8px;
    margin: 4px;
    border-radius: 32px;
    transition: 0.3s;
    box-shadow: 0 0 4px 1px rgba(0, 222, 222, 0.25);

    &:hover{
        background-color: #efa8f0;
        cursor: pointer;
    }

    &:active{
        background-color: #cdd99e;
        box-shadow: 0 0 4px 1px #c23a6c;
    }
}

.icon_wrapper_light{
    @include icon_wrapper_mixin($theme: 'light')
}

.icon_wrapper_dark{
    @include icon_wrapper_mixin($theme: 'dark')
}

.icon_container{
    display: inline-block;
    margin: 4px;
}


